@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Odibee+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "myFont";
  src: url('../src/fonts/Cyber\ City.otf');
}
@font-face {
  font-family: "myFont2";
  src: url('../src/fonts/BEASIGNE.otf');
}
@font-face {
  font-family: "myFont3";
  src: url('../src/fonts/PROCIRCUIT.ttf');
}
@font-face {
  font-family: "myFont4";
  src: url('../src/fonts/Overuse\ Bold\ Personal\ Use.otf');
}
@font-face {
  font-family: "myFont5";
  src: url('../src/fonts/Quick\ Starter.ttf');
}

.myfont{
  font-family: "myFont";
}
.myfont2{
  font-family: "myFont2";
}
.myfont3{
  font-family: "myFont3";
}
.myfont4{
  font-family: "myFont4";
}
.myfont5{
  font-family: "myFont5";
}

::-webkit-scrollbar{
  display: none;
}

.message-arrow-right{
  clip-path: polygon(75% 0%, 100% 0, 0 99%, 0% 100%, 0 54%, 0% 0%);
}
.message-arrow-left{
  clip-path: polygon(100% 0%, 100% 53%, 100% 100%, 100% 100%, 0 0, 0 0);
}
